# build output
dist/

.env

# dependencies
node_modules/

# storybook
storybook-static/
storybook.log
debug-storybook.log

# yalc
.yalc/
yalc.lock

# playwright
/playwright-report/
/test-results/
/tests/e2e/screenshots/