@import 'tailwindcss';

@theme {
  --text-5xl: 3rem;
  --text-5xl--line-height: normal;
  --text-10xl: 9.5rem;
  --text-10xl--line-height: 1;
  --text-11xl: 10rem;
  --text-11xl--line-height: normal;
  --text-12xl: 12rem;
  --text-12xl--line-height: normal;
  --text-13xl: 14rem;
  --text-13xl--line-height: normal;

  --shadow-center: 0 0 40px current-color;

  /* COLORS */
  --color-primary: #4285F4;
  /* - Brands - */
  --color-spotify: #1DB954;
  --color-google: #4285F4;
  --color-fitbit: #3DB6B8;

  --animate-fade-in: fadeIn 0.5s ease-in;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-progress: progress var(--progress-duration, 3000ms) linear forwards;
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

body {
  @apply bg-black;
}

@layer components {
  /* these styles are shared between the context menu and the dropdown menu */
  .menu {
    @apply dark:bg-black/90 rounded-lg z-50 py-2;
  }
  .menu-group-heading {
    @apply dark:text-gray-400 text-xs font-bold px-2;
  }
  .menu-item {
    @apply dark:text-white cursor-pointer focus:bg-gray-800 px-2 py-1 text-xs select-none;
  }
}
