@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-image: url();
}

body {
  @apply flex flex-col relative h-screen w-screen overflow-hidden;

  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--background-image);
}

h1,
h2 {
  @apply m-0 text-white;
}

h1 {
  @apply text-9xl;
}

h2 {
  @apply text-5xl;
}
