name: CI

env:
  CI: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install Dependencies
        run: pnpm install
      - name: Build Packages
        run: pnpm build
      - name: Build storybook
        run: pnpm storybook:build
      - name: Lint Packages
        run: pnpm lint
      - name: Test Packages
        run: pnpm test
      # - name: SonarQube Scan
      #   uses: SonarSource/sonarqube-scan-action@v5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
